.Player {
    text-align: center;
    margin-bottom: 20px;
}

.PlayIcon {
    position: absolute;
    transform: translate(160px, 110px);
    z-index: 9999;
    color: #FFF;
    font-size: 80px;
    opacity: .8;
    transition-duration: 0.2s;
}

.PlayIcon:hover {
    transform: translate(150px, 100px);
    color: #FFF;
    font-size: 100px;
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .PlayIcon {
        transform: translate(140px, 90px);
    }

    .PlayIcon:hover {
        transform: translate(130px, 80px);
    }
}
