.SearchBar {
    padding: 0 15px 0 20px;
    position: sticky !important;
    top: 70px !important;
    background-color: #F9F9F9;
    z-index: 10;
    width: 100%;
}

.SearchInput {
    border: none;
    height: 40px;
    font-size: 18px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 10%)
}

.SearchInput :global .ant-input-clear-icon {
    font-size: 24px;
}

.SearchInput:focus {
    box-shadow: none;
}

.SearchButton, .FilterButton {
    color: #F45844;
    border: none;
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 10%)
}

.SearchButton:hover, .FilterButton:hover {
    background-color: #F45844;
    color: #F9F9F9;
}

.FilterButtonActive, .FilterButtonActive:hover, .FilterButtonActive:focus {
    color: #FFF;
    background-color: #F45844;
    border: none;
}

.FilterButton .FilterButtonImage {
    background: url('/images/filterIcon.svg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
}

.FilterButton:hover .FilterButtonImage {
    background: url('/images/filterIcon_hover.svg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
}

.FilterButtonActive .FilterButtonImage {
    background: url('/images/filterIcon_hover.svg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
}
