.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Total {
    font-weight: 700;
    color: #647B9E;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .Pagination {
        display: block;
        text-align: center;
    }
}

.Pagination :global .ant-pagination-simple-pager {
    font-weight: 700;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
}

.Pagination :global .ant-pagination-simple-pager input {
    border-radius: 0;
}

.Pagination :global .ant-pagination-prev,
.Pagination :global .ant-pagination-next {
    font-weight: 700;
    border: none;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.Pagination :global .ant-pagination-prev:hover,
.Pagination :global .ant-pagination-next:hover {
    color: #F45844;
}

.Pagination :global .ant-pagination-options-size-changer {
    font-weight: 700;
    color: #F45844;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.Pagination :global .ant-select-selector {
    border-radius: 15px !important;
    border: none !important;
}

.Pagination :global .ant-pagination-total-text {
    height: unset;
    line-height: unset;
}
