.Header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 110px;
    line-height: 30px;
    background-color: #F9F9F9;
}

.Logo {
    padding: 20px 0;
    height: 110px;
}

.Menu {
    background-color: inherit;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuItem {
    font-weight: 400;
}
