.FacetWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.FacetText {
    flex-grow: 1;
    text-align: right;
}

.FacetActiveText {
    color: #F45844;
    font-weight: 600;
    flex-grow: 1;
    text-align: right;
}

.FacetRemove {
    color: #F45844;
    font-weight: 600;
    width: 80px;
    padding-right: 17px;
    text-align: right;
}

.FacetRemoveLink {
    font-weight: 700;
    color: #FFF !important;
}

.FacetRemoveLink:hover {
    color: #050505 !important;
}

.FacetNumber {
    width: 80px;
    text-align: right;
    padding-right: 15px;
    bottom: 0;
}

.LongFacetText .FacetLink {
    color: #FFF;
    cursor: pointer;
}

.LongFacetText .FacetLink:hover {
    color: #FFF !important;
    border-bottom: 2px dotted #FFF;
}


.Search {
    margin: 5px 10px;
    border-bottom: 2px solid #FFFFFF;
}

.Search :global .ant-input-affix-wrapper {
    background-color: unset;
    padding: 0 10px 0 0;
    border: 0;
}

.Search :global .ant-input {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    background-color: unset;
    border-bottom: 2px;
}

.Search :global .ant-input::selection {
    background-color: #2E80EC;
}

.Search :global .ant-input::-moz-selection {
    background-color: #2E80EC;
}

.Search :global .ant-input-suffix .ant-input-clear-icon {
    color: #FFF;
}

.Search :global .ant-input-group-addon {
    border-radius: 0;
}

.Search :global .ant-input-group-addon button {
    border-radius: 0 !important;
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
}

.Search :global .ant-input-group-addon button:hover {
    border-color: #F45844;
    background-color: #F45844;
}

.LongFacetActiveText {
    color: #FFF;
    font-weight: 700;
    flex-grow: 1;
    padding-left: 10px;
    margin-bottom: 0 !important;
}

.LongFacetText {
    color: #FFF;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0 !important;
}

.FacetLink:hover {
    color: #666666 !important;
}
