.ResultsWrap {
    padding: 70px 0 20px 0;
}

/*
.Results :global .ant-tabs-nav-wrap {
    justify-content: flex-end;
}
*/

.Results {
    height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
}

.Results :global .ant-tabs-tab-active {
    background-color: #F3F3F3;
}

.Results :global .ant-tabs-tab-btn {
    margin: auto;
}

.Results :global .anticon {
    margin: 0;
}

.Tabs {
    justify-content: flex-end;
}

.Drawer :global .ant-drawer-content-wrapper {
    box-shadow: none !important;
}

.Drawer :global .ant-drawer-content-wrapper .ant-drawer-body {
    height: 500px;
    color: #FFFFFF;
    background-color: #F45844;
    padding: 20px;
}

