.ResultsMobile {
    height: calc(100vh - 104px);
    max-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.Results :global .ant-tabs-tab-active {
    background-color: #F3F3F3;
}

.Results :global .ant-tabs-tab-btn {
    margin: auto;
}

.Results :global .anticon {
    margin: 0;
}

.Tabs {
    justify-content: flex-end;
}

.Drawer {
    position: fixed !important;
    top: 0;
    width: 50% !important;
    margin-top: 70px;
    height: calc(100vh - 104px);
}

.Drawer :global .ant-drawer-content-wrapper {
    box-shadow: none !important;
}

.Drawer :global .ant-drawer-content-wrapper .ant-drawer-body {
    height: 500px;
    color: #FFFFFF;
    background-color: #F45844;
    padding: 20px;
}

