.ResultItem {
    margin-bottom: 20px;
}

.ResultItemData {
    padding: 15px 20px 20px 20px;
    font-weight: 300;
}

.ResultItemData:hover, .ResultItemDataSelected {
    cursor: pointer;
}

.ResultItemDataSelected {
    padding: 15px 20px 20px 20px;
    font-weight: 300;
    background-color: #DDDDDD;
}

.Title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.Title em {
    font-style: normal;
    background-color: #FFD911;
}

.Genre {
    margin-bottom: 10px;
    font-weight: 400;
}

.Label {
    font-weight: 400;
}

.CatalogLink a {
    color: #F45844;
    transition: border-bottom-color 0.3s;
    border-bottom: 1px dotted transparent;
}

.CatalogLink a:hover {
    border-bottom: 1px dotted #F45844;
}

.Header {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    background-color: #F45844;
    color: #F9F9F9;
}

.CloseButton {
    color: #F9F9F9;
    position: absolute;
    right: 16px;
}

.CloseButton:hover {
    color: #F9F9F9;
}

.SelectedTags {
    padding: 10px;
}

.SelectedTag {
    font-weight: 700;
    color: #647B9E;
    background-color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    white-space: pre;
    line-height: 40px;
    font-size: 14px;
}
