.RecordsPerPageWrapper {
    padding: 20px;
}

.Button {
    font-weight: 700;
    color: #647B9E;
    background-color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    white-space: pre;
    line-height: 40px;
}

.RemoveIcon {
    color: #F45844;
    padding-left: 10px;
}

.RemoveIcon:hover {
    color: #050505 !important;
}
